h2 {
    text-align: center;
}
h3 {
    text-align: center;
    padding-bottom: 10px;
}

p {
    font-weight: lighter;
}

artContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}